body {
  background-image: url(https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: flex;
}

.grid__col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
}

.grid__col:first-child {
  margin-left: 20px;
}

.grid__col_span_2 {
  flex: 2;
}

.widget {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.widget + .widget {
  margin-top: 40px;
}

.widget__title {
  margin: 0 0 10px 20px;
}

.widget__content {
  display: flex;
  flex: 1 250px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #DCDCDC;
}

.widget__content_center {
  align-items: center;
}

.widget1 * html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 18px Helvetica;
}

.fullDiv {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#calul {
  margin: 0;
  padding: 0;
}

#calnumber {
  float: left;
  display: block;
  width: 14.2857%;
  text-align: center;
  list-style-type: none;
}

#calnumber:nth-child(n + 1):nth-child(-n + 7) {
  font-weight: 900;
  color: #FF6347;
}

#calnumber:nth-child(n + 39),
li:nth-child(n + 8):nth-child(-n + 16) {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3);
}

#calnumber:hover:nth-child(n + 8):nth-child(-n + 38),
li:nth-child(17) {
  border-radius: 5px;
  background-color: #1abc9c;
  color: #ecf0f1;
}

.widget2 * {
    box-sizing: border-box;
}

.clock {
    
}


.widget3 * {
  box-sizing: border-box;
}

.calculator {
  max-width: 200px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

.calculator input {
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  border-bottom: 2px solid #111;
  padding: 10px;
  text-align: right;
  font-size: 10px;
}

.calculator-buttons {
  padding: 10px;
  /* grid stuff wil take place here*/
  display: grid;
  /*grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);*/
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 5px;
}

.calc-button {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #111;
  padding: 10px;
  color: #eee;
  border-radius: 1px;
  font-size: 10px;
  cursor: pointer;
}

.is-clear,
.is-zero {
  grid-column: span 3;
}

.is-clear {
  background: #FF6347;
}

.is-equals {
  background: #1abc9c;
}

.widget4 
{
  box-sizing: border-box;
}

#myul {
  margin: 0;
  padding: 0;
}

#myul,
#mytodo {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  color: #000000;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myul,
#mytodo:nth-child(odd) {
  background: #f9f9f9;
}

#myul,
#mytodo:hover {
  background: #ddd;
}

#mytodo.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

#mytodo.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #FF6347;
  color: white;
}

.header {
  background-color: #1abc9c;
  padding: 20px 30px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 60%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 30%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}

@media (max-width: 900px) {
    .grid {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
                "calendar"
                "clockncalc"
                "todo";
        max-width: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .grid__col .grid__col_span_2 {
        grid-area: calendar;
    }
    .grid__col .clockcalc{
        grid-area: clockncalc;
    }
    .grid__col .todo{
        grid-area: todo;
    }
  }
